*{
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}

.hero
{
    position:relative;
    width:100%;
    height:937px;
    background: blueviolet;
}
nav
{
  display:flex;
  width: 84%;
  margin:auto;
  padding:20px 0;
}
nav ul li
{
  display: inline-block;
  list-style: none;
  margin: 10px 120px;
}
nav ul li a
{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
nav ul li a:hover
{
  color: turquoise;
}
.detel
{
  margin-left:8%;
}
.detel h1
{
  font-size: 50px;
  color: white;
}
.detel h2
{
  font-size: 25px;
  color: white;
  margin-bottom: 20px;
}
.detel p
{
  color: gray;
  line-height: 22px;
}
.detel a
{
  background:black; 
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color:white;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}
.images
{
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px
  
}
.contact
{
    position:relative;
    width:100%;
    height:937px;
    background: blueviolet;
}
.important
{
  display:flex;
  width: 80%;
  margin:auto;
  padding:20px 20px;
}
.important h1
{
  font-size: 50px;
  color: white;
}
.important ul li
{
  display: grid;
  list-style: none;
  margin: 100px 0px;
}
ul li p
{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: xx-large;
}
.about
{
  position:relative;
  width:100%;
  height:100%;
  background: blueviolet;
}
.info
{
  color:white;
}
.info h1
{
  font-size: 80px;
}
.info p
{
  margin-top: 40px;
  font-size: 20px;
  margin-left: 13%;
  margin-bottom: 40px;
}
.image
{
  width: 0px;
  height: 100%;
  display: block;
  margin-left: 750px;
  margin-bottom: 40px;
}
.info p1
{
  margin-top: 40px;
  font-size: 20px;
  margin-left: 13%;
  margin-bottom: 40px;
}
.image2
{
  width: 0px;
  height: 100%;
  display: block;
  margin-left: 750px;
}
.info p2
{
  margin-top: 40px;
  font-size: 20px;
  margin-left: 13%;
  margin-bottom: 40px;
}